@model IEnumerable<GitHubStars.Models.Project>



<h1>Projects</h1>
<ol>
    @foreach (var Project in Model)
    {
        <li>name: @Html.DisplayFor(modelItem => Project.name)</li>
        <li>stars: @Html.DisplayFor(modelItem => Project.stargazers_count)</li>
    }
</ol>